@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-dirtyline: "Dirtyline 36daysoftype 2022", sans-serif;
  --font-nohemi: "Nohemi-Regular", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nohemi);
  overflow: hidden;
}

h1 {
  font-size: 2.5rem; /* Adjust as needed */
  font-weight: bold;
}


.animated-logo {
  font-family: var(--font-dirtyline), sans-serif;
}

/* FONT STYLES */

.thin-text {
  font-family: var(--font-nohemi);
  font-weight: 100; /* Thin */
}

.regular-text {
  font-family: var(--font-nohemi);
  font-weight: 400; /* Regular */
}

.bold-text {
  font-family: var(--font-nohemi);
  font-weight: 700; /* Bold */
}

.extra-bold-text {
  font-family: var(--font-nohemi);
  font-weight: 800; /* Extra Bold */
}

.funky-text {
  font-family: var(--font-dirtyline), sans-serif;
  font-weight: 400; /* Extra Bold */
}
