/* [project]/app/dirtylinefont_9d72121b.module.css [app-client] (css) */
@font-face {
  font-family: dirtylineFont;
  src: url("/_next/static/media/Dirtyline 36daysoftype 2022-s.p.63205cba.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: dirtylineFont;
  src: url("/_next/static/media/Dirtyline 36daysoftype 2022-s.p.adbc548a.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: dirtylineFont;
  src: url("/_next/static/media/Dirtyline 36daysoftype 2022-s.p.a158502f.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: dirtylineFont Fallback;
  src: local(Arial);
  ascent-override: 67.01%;
  descent-override: 22.34%;
  line-gap-override: 8.94%;
  size-adjust: 111.92%;
}

.dirtylinefont_9d72121b-module__sa3pDG__className {
  font-family: dirtylineFont, dirtylineFont Fallback;
}

.dirtylinefont_9d72121b-module__sa3pDG__variable {
  --font-dirtyline: "dirtylineFont", "dirtylineFont Fallback";
}


/* [project]/app/dirtylinefont_9d72121b.module.css [app-client] (css) */
@font-face {
  font-family: dirtylineFont;
  src: url("/_next/static/media/Dirtyline 36daysoftype 2022-s.p.63205cba.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: dirtylineFont;
  src: url("/_next/static/media/Dirtyline 36daysoftype 2022-s.p.adbc548a.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: dirtylineFont;
  src: url("/_next/static/media/Dirtyline 36daysoftype 2022-s.p.a158502f.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: dirtylineFont Fallback;
  src: local(Arial);
  ascent-override: 67.01%;
  descent-override: 22.34%;
  line-gap-override: 8.94%;
  size-adjust: 111.92%;
}

.dirtylinefont_9d72121b-module__sa3pDG__className {
  font-family: dirtylineFont, dirtylineFont Fallback;
}

.dirtylinefont_9d72121b-module__sa3pDG__variable {
  --font-dirtyline: "dirtylineFont", "dirtylineFont Fallback";
}


/* [project]/app/absansfont_15c59994.module.css [app-client] (css) */
@font-face {
  font-family: absansFont;
  src: url("/_next/static/media/Absans_Regular-s.p.2c67bc5f.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: absansFont Fallback;
  src: local(Arial);
  ascent-override: 97.63%;
  descent-override: 31.28%;
  line-gap-override: 3.79%;
  size-adjust: 105.5%;
}

.absansfont_15c59994-module__YaWd3q__className {
  font-family: absansFont, absansFont Fallback;
}

.absansfont_15c59994-module__YaWd3q__variable {
  --font-absans: "absansFont", "absansFont Fallback";
}


/* [project]/app/absansfont_15c59994.module.css [app-client] (css) */
@font-face {
  font-family: absansFont;
  src: url("/_next/static/media/Absans_Regular-s.p.2c67bc5f.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: absansFont Fallback;
  src: local(Arial);
  ascent-override: 97.63%;
  descent-override: 31.28%;
  line-gap-override: 3.79%;
  size-adjust: 105.5%;
}

.absansfont_15c59994-module__YaWd3q__className {
  font-family: absansFont, absansFont Fallback;
}

.absansfont_15c59994-module__YaWd3q__variable {
  --font-absans: "absansFont", "absansFont Fallback";
}


/* [project]/app/nohemifont_f39f6d7.module.css [app-client] (css) */
@font-face {
  font-family: nohemiFont;
  src: url("/_next/static/media/Nohemi_Regular-s.p.75b0e396.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: nohemiFont Fallback;
  src: local(Arial);
  ascent-override: 303.14%;
  descent-override: 77.63%;
  line-gap-override: 30.72%;
  size-adjust: 24.41%;
}

.nohemifont_f39f6d7-module__weSQiq__className {
  font-family: nohemiFont, nohemiFont Fallback;
}

.nohemifont_f39f6d7-module__weSQiq__variable {
  --font-nohemi: "nohemiFont", "nohemiFont Fallback";
}


/* [project]/app/nohemifont_f39f6d7.module.css [app-client] (css) */
@font-face {
  font-family: nohemiFont;
  src: url("/_next/static/media/Nohemi_Regular-s.p.75b0e396.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: nohemiFont Fallback;
  src: local(Arial);
  ascent-override: 303.14%;
  descent-override: 77.63%;
  line-gap-override: 30.72%;
  size-adjust: 24.41%;
}

.nohemifont_f39f6d7-module__weSQiq__className {
  font-family: nohemiFont, nohemiFont Fallback;
}

.nohemifont_f39f6d7-module__weSQiq__variable {
  --font-nohemi: "nohemiFont", "nohemiFont Fallback";
}


/* [project]/app/globals.css [app-client] (css) */
*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-1\/4 {
  top: 25%;
}

.top-3\/4 {
  top: 75%;
}

.z-50 {
  z-index: 50;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-full {
  height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.max-w-3xl {
  max-width: 48rem;
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-50 {
  --tw-scale-x: .5;
  --tw-scale-y: .5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.resize {
  resize: both;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.5rem * var(--tw-space-y-reverse));
}

.justify-self-start {
  justify-self: start;
}

.bg-\[radial-gradient\(\#e5e7eb_1px\,transparent_1px\)\] {
  background-image: radial-gradient(#e5e7eb 1px, #0000 1px);
}

.p-5 {
  padding: 1.25rem;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.pl-14 {
  padding-left: 3.5rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pt-2 {
  padding-top: .5rem;
}

.text-left {
  text-align: left;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-8xl {
  font-size: 6rem;
  line-height: 1;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.text-\[\#CEABC1\] {
  --tw-text-opacity: 1;
  color: rgb(206 171 193 / var(--tw-text-opacity, 1));
}

.text-\[\#EAEAEC\] {
  --tw-text-opacity: 1;
  color: rgb(234 234 236 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.duration-500 {
  transition-duration: .5s;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.\[background-size\:16px_16px\] {
  background-size: 16px 16px;
}

.\[mask-image\:radial-gradient\(ellipse_50\%_50\%_at_50\%_50\%\,\#000_70\%\,transparent_100\%\)\] {
  mask-image: radial-gradient(50% 50%, #000 70%, #0000 100%);
}

:root {
  --background: #fff;
  --foreground: #171717;
  --font-dirtyline: "Dirtyline 36daysoftype 2022", sans-serif;
  --font-absans: "Absans-Regular", sans-serif;
  --font-nohemi: "Nohemi-Regular", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nohemi);
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

a {
  transition: transform .2s ease-in-out;
}

a:hover {
  transform: scale(1.2);
}

.animated-logo {
  font-family: var(--font-dirtyline), sans-serif;
}

@media (width >= 768px) {
  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (width >= 1024px) {
  .lg\:scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
}


/*# sourceMappingURL=app_65e85f._.css.map*/
